@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  /* width */
  ::-webkit-scrollbar {
      width: 3px;
  }
    
  /* Track */
  ::-webkit-scrollbar-track {
      background: #08B173 !important;
  }
    
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #FFFBD6;
  }
    
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #FFFBD6;
  }
}